
@{
    ViewBag.Title = "Demo";
   
}

<h2>Demo</h2>
<p>
    A班科目&nbsp; A&nbsp; B&nbsp; C&nbsp; AV&nbsp; BV &nbsp;CV
</p>
<p>
    英文&nbsp;&nbsp; @ViewBag.ea&nbsp;&nbsp; @ViewBag.eb&nbsp;&nbsp; @ViewBag.ec&nbsp;&nbsp; @ViewBag.eav &nbsp;&nbsp;@ViewBag.ebv &nbsp;&nbsp;@ViewBag.ebc
</p>
<p> 
   國文
</p>
<p>
    數學
</p>
